
@model Student

<h1>Please fill the details to update the model</h1>

<form method="post" action="/Student/EditStudent">
    <p>Id: @Model.Id</p>
    @Html.HiddenFor(m => m.Id)

    <label>ID:</label>
    <input id="Id" name="Id" value="@Model.Id" class="text-muted" />
    <label>Name:</label>
    <input id="Name" name="Name" value="@Model.Name" />
    <label>Class:</label>
    <input id="Class" name="Class" value="@Model.Class" />


    <input type="submit" value="Update" />
</form>

